$primary-color: hsl(35, 77%, 62%);
$secondary-color: hsl(5, 85%, 63%);
$third-color: hsl(36, 100%, 99%);
$fourth-color: hsl(233, 8%, 79%);
$fifth-color: hsl(236, 13%, 42%);
$sixth-color: hsl(240, 100%, 5%);

$small-width:-  375px;